<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sunglasses</title>
</head>

<body ng-app="Sunglasses">
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Filter</a>
                    <ul>
                        <li><a href="#">First Name</a> </li>
                        <li><a href="#">Last Name</a> </li>
                        <li><a href="#">Gender</a></li>
                        <li><a href="#">Relationship</a></li>
                        <li><a href="#">City</a></li>
                    </ul>
                </li>
                <li><a href="#">My Sunglasses</a></li>
            </ul>
        </nav>
    </header>
    <main ng-controller="UserController">
    	<article ng-repeat="user in users">
    		<figure ng-click="toggleMenu(user)">
    			<img ng-src="{{user.image}}" alt="">
    		</figure>
			<div>
				<p><span class="label">First Name:</span><span class="user-field">{{user.firstName}}</span></p> 
				<p><span class="label">Last Name:</span><span class="user-field"></span>{{user.lastName}}</p> 
				<p><span class="label">Relationship:</span><span class="user-field">{{user.relationship}}</span></p>
				<p><span class="label">City:</span><span class="user-field"></span>{{user.city}}</p>
			</div>			
    	</article>
	    <div ng-if="shouldDisplayMenu" style="position:fixed; right: 0; top: 0; height: 500px; width: 300px; background: rgba(100, 100, 100, 0.5)">
	    	
	    </div>
    </main>
	<div ng-view></div>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
